In [1]:
import pandas as pd

In [2]:
#rest_df = pd.read_excel("../CharYelp.xlsx", encoding="ISO-8859-1")
#rest_df = rest_df[["Restaurant ID","Restaurant Name", "City", "Country Code", "Longitude", "Latitude", "Cuisines", "Price range", "Average Cost for two","Aggregate rating", "Rating color", "Rating text", "Votes"]]

rest_df = pd.read_excel("CharYelp.xlsx")
#rest_df["Country Code"] == 216
#rest_df = rest_df.loc[rest_df["Country Code"] == 216, :]

#rest_df = rest_df.dropna(how='any')
#rest_df.count()
rest_df = rest_df[["id", "name", "categories/0/title", "rating", "coordinates/latitude", "coordinates/longitude", "price", "location/address1", "location/city", "location/zip_code"]]
rest_df = rest_df.dropna(how='any')
rest_df.count()

id                       299
name                     299
categories/0/title       299
rating                   299
coordinates/latitude     299
coordinates/longitude    299
price                    299
location/address1        299
location/city            299
location/zip_code        299
dtype: int64

In [3]:
rest_df.count()

id                       299
name                     299
categories/0/title       299
rating                   299
coordinates/latitude     299
coordinates/longitude    299
price                    299
location/address1        299
location/city            299
location/zip_code        299
dtype: int64

In [4]:
rest_df.columns

Index(['id', 'name', 'categories/0/title', 'rating', 'coordinates/latitude',
       'coordinates/longitude', 'price', 'location/address1', 'location/city',
       'location/zip_code'],
      dtype='object')

In [7]:
Restdf = rest_df.rename(columns={"categories/0/title":"type", "coordinates/latitude":"lat", 
                                 "coordinates/longitude":"long", "location/address1":"address", "location/city":"city", "location/zip_code":"zip"})

In [9]:
Restdf.head()

,id,name,type,rating,lat,long,price,address,city,zip
0,yrUDeng1LrDvgyyjI5GiHA,Pho Quynh,Vietnamese,4.5,35.211296,-80.761337,$$,4900 Central Ave,Charlotte,28205
1,PqcOSnCsJTT9Yd2xWKIMWw,La Shish Kabob,Middle Eastern,4.5,35.203300,-80.760435,$,3117-A N Sharon Amity,Charlotte,28205
2,LdhprCGxa0inFo5P812EIg,Loft & Cellar,Cocktail Bars,3.5,35.228204,-80.846499,$$,305 W 4th St,Charlotte,28202
3,VH3WA7a-OVzFj2K_SP4BIw,The King's Kitchen,American (Traditional),4.0,35.228010,-80.844256,$$,129 W Trade St,Charlotte,28202
4,trAd97ig2agtkZl2cimOMQ,Something Classic Cafe,American (New),4.0,35.228220,-80.840990,$,220 N Tryon St,Charlotte,28263

In [10]:
Restdf.to_csv("Rest_df.csv", index=False, header=True)