In [1]:
import pandas as pd

In [2]:
#rest_df = pd.read_excel("../CharYelp.xlsx", encoding="ISO-8859-1")
#rest_df = rest_df[["Restaurant ID","Restaurant Name", "City", "Country Code", "Longitude", "Latitude", "Cuisines", "Price range", "Average Cost for two","Aggregate rating", "Rating color", "Rating text", "Votes"]]

rest_df = pd.read_excel("CharYelp.xlsx")
#rest_df["Country Code"] == 216
#rest_df = rest_df.loc[rest_df["Country Code"] == 216, :]

#rest_df = rest_df.dropna(how='any')
#rest_df.count()
rest_df = rest_df[["id", "name", "categories/0/title", "rating", "coordinates/latitude", "coordinates/longitude", "price", "location/address1", "location/city", "location/zip_code"]]
rest_df = rest_df.dropna(how='any')
rest_df.count()

id                       299
name                     299
categories/0/title       299
rating                   299
coordinates/latitude     299
coordinates/longitude    299
price                    299
location/address1        299
location/city            299
location/zip_code        299
dtype: int64

In [3]:
rest_df.count()

id                       299
name                     299
categories/0/title       299
rating                   299
coordinates/latitude     299
coordinates/longitude    299
price                    299
location/address1        299
location/city            299
location/zip_code        299
dtype: int64